@media screen and (max-width: 900px) {
    .consultation, .contact, .info, .info, .profiles, .contact, .gallery .block, .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery .block .block__photos {
        width: 100% !important;
        margin-top: 10px !important;
    }

    .menu__item {
        margin: 0;
    }

    .menu__top {
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__num, .menu__call, .menu__logo {
        margin: 0 0 10px 0 !important;
    }

    .menu__top img {
        margin-right: 0 !important;
    }

    .menu__list {
        padding: 0;
    }

    .titel {
        padding: 60px 15px !important;
    }

    .info__home, .contact__titel, .consultation__info {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 600px) {

    .menu {
        &__logo {
            margin-bottom: 15px;
        }
    }
}
